.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  align-self: center;
}

.topbarIconBadge {
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.logoutInfo {
  position: absolute;
  background-color: rgb(105, 105, 105);
  width: max-content;
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 4px;
  top: 30px;
  right: 0;
}
